<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inserir Aluno</title>
</head>
<body>
    <h2>Inserir Aluno</h2>

    <form action="salvar" method="POST">{% csrf_token %}
        Nome
        <input type="text" name="nome" id="nome">
        Cursos
        <select class="form-control" name="idCurso">
            <option>Selecione...</option>
            {% for curso in cursos %}
                <option value="{{ curso.id }}"> 
                    {{ curso.nome }} 
                </option>
            {% endfor %}
        </select>
        <button>Salvar</button>
    </form>
    <p><a href="/alunos/">Voltar</a></p>
</body>
</html>